.chart_container.two_column.clearfix
  .col6-xs.provider_data.tk-freight-sans-pro
    = render "public_charts/teaser_charts/#{node.data.fetch(:data_available)}",
      node: node
  .col6-xs
    %svg.chart{ id: "#{node.title.parameterize}" }

:javascript
  $(function() {
    var data = #{node.data.to_json};
    var node_id = "##{node.title.parameterize}";
    var node_type = "#{node.type}";
    Nightingale.drawChart(data, node_id, false, node_type);
  });
