.measure_teaser.col6.bottom_margin_base.border_grey
  .icon.icon_size_base.icon_bookmark
    = render 'shared/icon', icon: '#icon_bookmark'
  .inner_padding_base
    %h4.no_margin= node_link(node)
    .top_margin_small
      = render "public_charts/teaser_charts/#{node.type}", node: node
  = node_link(node,
    class_name: 'teaser_chart_link block border_top_grey inner_padding_base text_center')
