.detail_chart.top_margin_base
  .chart_container
    = render "public_charts/detail_charts/#{node.data.fetch(:data_available)}",
      node: node
    %svg.chart{id: "#{node.title.parameterize}"}

      / $(function() {
      /   var data = #{node.data.to_json};
      /   var node_id = "##{node.title.parameterize}";
      /   var node_type = "#{node.type}";
      /   Nightingale.drawChart(data, node_id, true, node_type);
      / });

    :javascript
      var data = #{node.data.to_json};
      var node_id = "##{node.title.parameterize}";
      var node_type = "#{node.type}";
      new Nightingale.Views['public_charts-drawChart']({
        data: data,
        nodeId: node_id,
        isDetailChart: true,
        nodeType: node_type,
        el: $('.detail_chart .chart_container svg')
      });
